HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### vue-frontend ###
vue-frontend/.idea/
vue-frontend/dist/
vue-frontend/target/
vue-frontend/node/
vue-frontend/node_modules/
vue-frontend/package-lock.json
vue-frontend/*.iml
spring-backend/src/main/resources/public/
spring-backend/src/main/resources/public
